.button-large {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.button-large button {
  background-color: var(--blue-two);
  width: 30vw;
  height: 5vw;
  font-size: 1rem;
  color: var(--white-one);
  border: transparent 2px solid;
  border-radius: 0.3vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.button-large button:hover {
  background-color: transparent;
  color: var(--blue-two);
  border: solid var(--blue-two);
}


/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
  .button-large button{
    font-size: 3.5vw;
  }

  .button-large button {
    background-color: var(--blue-two);
    width: 35.5vw;
    height: 10vw;
    color: var(--white-one);
    border: transparent 2px solid;
    border-radius: 2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
  }
}

