.button-to-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-to-add a{
  background-color: var(--blue-two);
  color: var(--white-one);
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: .5vw;
  border: solid 2px transparent;
  transition: .3s ease;
}

.button-to-add a:hover{
  border: 2px solid var(--blue-two);
  background-color: transparent;
  color: var(--blue-two);
}

/* Mobile */
@media only screen and (max-width: 800px) {
  .button-to-add a{
    padding: .8rem 1.4rem;
    font-size: .8rem;
    margin-top: 3%;
  }
}