:root {
  --white-one: #ffffff;
  --white-two: #f2f2f2;
  --gray-one: #bcbbbb;
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --black: #000;
  --black-two: rgba(1, 18, 38, 50%);
  
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-addactivity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vw;
  width: 90vw;
  background-color: var(--white-one);
  margin: 0 auto;
  border-radius: 0.5vw;
  box-shadow: 0 0.5vw 0.625vw rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5vw;
  margin-bottom: 4vw;
}

.select-planne-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.label-select,
.select-add-course input {
  align-self: flex-start;
  font-size: 1.1vw;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  transition: all 0.2s ease;
  margin-top: 3%;
}

.select-planne-course h2 {
  align-self: flex-start;
  margin-top: 0.5vw;
  margin-bottom: 3%;
  font-size: 0.8vw;
  font-weight: 500;
  color: var(--blue-three);
}

.select-planne-course select {
  width: 100%;
  font-size: 1.2vw;
  background-color: transparent;
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
}

.select-planne-course option:focus {
  background-color: transparent;
}

.dates-add {
  display: flex;
  justify-content: space-between;
}

.proposed-date,
.delivery-date {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.proposed-date input,
.delivery-date input {
  width: 30vw;
  cursor: pointer;
  border-bottom: 2px solid var(--gray-one);
}

.label-date,
.label-captecbasic,
.label-capsocio {
  font-size: 1.2vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.add-category {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1vw;
}

.title-add h1 {
  font-size: 1.2vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.buttons-add {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-add button {
  background-color: transparent;
  border: 2px solid var(--blue-two);
  border-radius: 0.5vw;
  padding: 0.7vw 1.4vw;
  font-size: 1.05vw;
  color: var(--blue-two);
  cursor: pointer;
  transition: 0.3s ease;
}

.buttons-add button:hover {
  background-color: var(--blue-two);
  color: var(--white-one);
}

.buttons-add button:focus{
  background-color: var(--blue-two);
  color: var(--white-one);
}

.captecbasic,
.capsocio {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 25rem;
  max-width: 25rem;
}

.challenge {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5vw;
}

.tittle-challenge h1 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.buttons-save-atvd {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PopUp */
.popup-challenge {
  position: fixed; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%; 
  max-height: 80vh;
  overflow-y: auto; 
  padding: 3vw;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.popup-content-challenge {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.captecbasic-ch,
.capsocio-ch {
  margin-bottom: 10%;
  text-align: left;
  width: 28rem;
  max-width: 28rem;
}

.forms-add-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.texts-challenge h1 {
  font-size: 2vw;
  font-weight: 600;
  color: var(--blue-one);
}

.texts-challenge h2 {
  font-size: 1.3vw;
  font-weight: 400;
  width: 35vw;
}

.description {
  margin-top: 10%;
  width: 28rem;
  max-width: 28rem !important;
}

.description input {
  width: 29vw;
  background-color: transparent;
}

.buttons-popup-challenge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.challenge-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3vh 2vw;
  border: solid 1.5px var(--black);
  border-radius: 0.5vw;
  width: 50%;
}

.items-card-challenge {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.items-card-challenge h3 {
  font-size: 1.5vw;
  font-weight: 700;
  margin-bottom: 0.3rem;
  color: var(--blue-one);
}

.buttons-card-challenge {
  display: flex;
  margin-top: 3%;
  gap: 1rem;
}

.buttons-card-challenge button {
  padding: 0.4rem 1rem;
  background-color: var(--blue-two);
  border: transparent solid 2px;
  color: var(--white-one);
  border-radius: 0.5vw;
  cursor: pointer;
  transition: 0.3s;
}

.buttons-card-challenge button:hover {
  background-color: var(--white-one);
  border: var(--blue-two) solid 2px;
  color: var(--blue-two);
}

.select-matter-activity{
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}