.card-info-disc,
.form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin: 3% auto;
  width: 90vw;
  border-radius: 1vw;
  background: #fff;
  box-shadow: 0 0.3vw 2vw rgba(0, 0, 0, 0.1);
}

.card-info-disc {
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
}

.card-info-disc h2 {
  font-weight: 600;
}

.form {
  padding: 5vw 5vw;
  gap: 2vw;
}

.form .inputt {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.form input {
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
  padding: 0.3vw;
}

.form label {
  font-weight: 700;
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.4);
}

.form input[type="number"]::-webkit-inner-spin-button,
.form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.title-section {
  font-size: 1.7vw;
  font-weight: 500;
  text-align: center;
  margin: 2.5vw 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.large-input {
  width: 36vw;
}

.captecsocio,
.caprelacionadas,
.estra-ensino,
.recur-amb {
  width: 45%;
}

.inputt select {
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
}

.inputt option:hover {
  background: rgb(7, 73, 115, 0.2);
}

.criterios {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.criterios button {
  background: #07678d;
  border: 0.13vw #07678d solid;
  color: #fff;
  cursor: pointer;
}

.criterios button:hover {
  background: #fff;
  border: 0.13vw #07678d solid;
  color: #07678d;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.criterios .add-btn {
  width: 25%;
  padding: 1vw;
  border-radius: 0.5vh;
  font-size: 1.1vw;
}

.add-btn:disabled, .add-btn:disabled:hover{
  background-color: #72909c;
  cursor: not-allowed;
  border: #72909c solid;
  color: #FFF;
}

.criterios .action-btn {
  width: 90%;
  padding: 0.5vw;
  border-radius: 0.5vh;
}

.table-criterios {
  width: 100%;
}

.table-criterios th {
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.4);
}

.table-criterios td {
  background: #fff;
}

.table-criterios th,
.table-criterios td {
  text-align: center;
  border: none;
  border-bottom: 0.15vw rgba(0, 0, 0, 0.2) solid;
}

.table-criterios th:nth-child(1),
.table-criterios td:nth-child(1) {
  width: 40%;
  text-align: left;
}

.card-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3vh 2vw;
  border: solid 1.5px #000;
  border-radius: 0.5vw;
  width: 45%;
  gap: 0.5vw;
}

.date-plan h1 {
  font-size: 1.5vw;
  font-weight: 700;
}

.selections p {
  font-size: 1vw;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.proposta,
.final {
  display: flex;
  flex-direction: column;
}

.popup-editt {
  position: relative;
  background: #fff;
  padding: 1vw 3vw;
  border-radius: 0.5vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  width: 39%;
  height: 70%;
  z-index: 1001;
  overflow: auto;
}

.title {
  text-align: center;
  width: 95%;
}

.popup-editt h2 {
  margin: 0 auto;
  color: #075a7b;
  font-size: 1.5vw;
}

.popup-editt h3 {
  font-size: 1.1vw;
  font-weight: 400;
}

.popup-editt form {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.popup-editt .select-pop {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.popup-editt select {
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
  width: 100%;
}

.edit-btns,
.card-btns {
  display: flex;
}

.edit-btns {
  gap: 2vw;
  justify-content: center;
}

.card-btns {
  gap: 0.9vw;
  margin-top: 0.5vw;
}

.edit-btns button,
.card-btns button {
  border: #07678d solid 2px;
  border-radius: 0.5vh;
  background: #07678d;
  color: #fff;
}

.edit-btns button {
  padding: 0.6vw 1vw;
  font-size: 1.1vw;
  width: 13vw;
}

.edit-btns button:hover,
.card-btns button:hover {
  background: none;
  color: #07678d;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.card-btns button {
  padding: 0.3vw 1vw;
  font-size: 0.9vw;
  width: 6vw;
}

.planneraulas {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.planneraulas .add-plan {
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: #07678d solid 2px;
  border-radius: 0.5vw;
  color: #07678d;
}

.planneraulas .add-plan:hover {
  background: #07678d;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.popup-plan {
  position: relative;
  background: #fff;
  padding: 2vw 3vw;
  border-radius: 0.5vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
  width: 40vw;
  height: 93vh;
  z-index: 1001;
  overflow: auto;
}

.dates {
  display: flex;
  justify-content: space-between;
}

.proposta,
.final {
  width: 15vw;
}

.popup-plan input,
.popup-plan select {
  font-size: 1.1vw;
}

.popup-plan h2,
.popup-plan h3 {
  text-align: center;
}

.popup-plan h2 {
  font-size: 1.5vw;
  color: #07678d;
}

.popup-plan h3 {
  font-size: 1.1vw;
  font-weight: 400;
}

.popup-plan::-webkit-scrollbar {
  width: 0.65vw;
}

.popup-plan::-webkit-scrollbar-track {
  background: #dcdcdc;
  border: 0.7px #b1b1b1;
}

.popup-plan::-webkit-scrollbar-thumb {
  background-color: #07678d;
  border-radius: 20px;
  border: 0.5px solid #075a7b;
}

.form-actions {
  display: flex;
  gap: 5vw;
  justify-content: center;
  margin-bottom: 3vw;
}

.save {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.form-actions button {
  border: #07678d solid 2px;
  padding: 0.8vw 7vw;
  border-radius: 0.5vh;
  background: #07678d;
  color: #fff;
  font-size: 1.2vw;
}

.form-actions button:hover {
  background: none;
  color: #07678d;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
