button{
  cursor: pointer;
}

.info-course {
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
}

.info-course h2 {
  font-weight: 600;
}

.info-course,
.form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin: 3% auto;
  width: 90vw;
  border-radius: 1vw;
  background: #fff;
  box-shadow: 0 0.3vw 2vw rgba(0, 0, 0, 0.1);
}

.form {
  padding: 5vw 5vw;
  gap: 2vw;
}

.form .input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
}

.form input {
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
  padding: 0.3vw;
}

.form label {
  font-weight: 700;
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.4);
}

.form input[type="number"]::-webkit-inner-spin-button,
.form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.large-input {
  width: 36vw;
}

.captecsocio,
.caprelacionadas,
.estra-ensino,
.recur-amb {
  width: 45%;
}

.input-field select {
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
}

.input-field option:hover {
  background: rgb(7, 73, 115, 0.2);
}

.title-section {
  font-size: 1.7vw;
  font-weight: 500;
  text-align: center;
  margin: 2.5vw 0;
}

.add-btn {
  background: #07678d;
  border: 0.13vw #07678d solid;
  color: #fff;
  width: 25%;
  padding: 1vw;
  border-radius: 0.5vh;
  font-size: 1.1vw;
}

.add-btn:hover, .card-btns button:hover, .form-actions button:hover {
  background: none;
  border: 0.13vw #07678d solid;
  color: #07678d;
  transition: 0.3s ease-in-out;
}

.add-btn:disabled, .add-btn:disabled:hover{
  background-color: #72909c;
  cursor: not-allowed;
  border: #72909c solid;
  color: #FFF;
}

.action-btn{
  width: 90%;
  padding: 0.5vw;
  border-radius: 0.5vh;
  background: #07678d;
  border: none;
  color: #FFF;
}

.table-criterios {
  width: 100%;
}

.table-criterios th {
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.4);
}

.table-criterios td {
  background: #fff;
}

.table-criterios th,
.table-criterios td {
  text-align: center;
  border: none;
  border-bottom: 0.15vw rgba(0, 0, 0, 0.2) solid;
}

.table-criterios th:nth-child(1),
.table-criterios td:nth-child(1) {
  width: 40%;
  text-align: left;
}

.select-pop{
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.card-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3vh 2vw;
  border: solid 1.5px #000;
  border-radius: 0.5vw;
  width: 45%;
  gap: 0.5vw;
}

.date-plan h1, .pergunta-estra {
  font-size: 1.5vw;
  font-weight: 700;
}

.selections p {
  font-size: 1vw;
}

.proposta,
.final {
  display: flex;
  flex-direction: column;
}

.card-btns{
  display: flex;
  gap: 0.9vw;
  margin-top: 0.5vw;
}

.card-btns button{
  border: #07678d solid 2px;
  border-radius: 0.5vh;
  background: #07678d;
  color: #fff;
  padding: .3vw 1.5vw;
}

.popup-body::-webkit-scrollbar {
  width: 0.65vw;
}

.popup-body::-webkit-scrollbar-track {
  background: #dcdcdc;
  border: 0.7px #b1b1b1;
}

.popup-body::-webkit-scrollbar-thumb {
  background-color: #07678d;
  border-radius: 20px;
  border: 0.5px solid #075a7b;
}

.pop-body, .multiselects {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.dates{
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.dates input{
  width: 100%;
}

.planpop-btn button{
  padding: 1vw 6vw;
}

.popup-btns{
  display: flex;
  gap: 2vw;
  justify-content: center;
  margin-top: 1.5vw;
}

.popup-btns button{
  border: 2px solid #07678d;
  padding: .7vw 3vw;
  border-radius: 0.5vh;
  background: #07678d;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.popup-btns button:hover{
  background: #FFF;
  color: #07678d;
}

.planneraulas, .estrategias {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.add-card {
  width: 4vw;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: #07678d solid 2px;
  border-radius: 0.5vw;
  color: #07678d;
}

.add-card:hover {
  background: #07678d;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.form-actions {
  display: flex;
  gap: 5vw;
  justify-content: center;
  margin-bottom: 3vw;
}

.save {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.form-actions button {
  border: #07678d solid 2px;
  padding: 0.8vw 7vw;
  border-radius: 0.5vh;
  background: #07678d;
  color: #fff;
  font-size: 1.2vw;
}