body {
  background-color: #f2f2f2;
  font-family: "Poppins", system-ui;
  font-style: normal;
}

.box-info-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 5% auto;
  padding: 2vw;
  background-color: #ffffff;
  width: 90vw;
  border-radius: 0.5vw;
  box-shadow: 0 0.5vw 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.date-badge {
  font-size: 1vw;
  background-color: #07678d;
  width: 15vw;
  padding: 0.5vw;
  color: #ffff;
  font-weight: normal;
  text-align: center;
  border-radius: 0.5vw;
}

.infos-teacher {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 1vw;
}

.semester-teacher,
.students {
  display: flex;
  gap: 0.5vw;
}

.semester-teacher img,
.students img {
  width: 1.3vw;
}

.semester-teacher h1,
.students h1 {
  font-size: 1.2vw;
  font-weight: normal;
}

.buttons-class {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19vw;
}

.buttons-class button {
  width: 35vw;
  height: 11vh;
  background-color: #07678d;
  border: none;
  color: #ffffff;
  border-radius: 0.5vw;
  cursor: pointer;
  font-size: 1.5vw;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-planne {
  width: 40vw; 
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px #084973;
  border-radius: 0.5vw;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content {
  width: 100%; 
  height: 7vw;
  background-color: #084973;
  padding: 1vw; 
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex; 
  margin-bottom: 5%;
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
}

.buttons-action {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2vw;
}

.button-close button{
  cursor: pointer;
  background-color: transparent;
  border: solid 1.5px #07678d;
  padding: 0.5vw 3vw;
  color: #07678d;
  border-radius: 0.5vw;
  margin-bottom: 5%;
}


.button-add, .button-view{
  display: flex ;
  align-items: center;
  justify-content: center;
  background-color: #07678d;
  border-radius: 0.5vw;
  width: 22vw;
  height: 8vh;
}

.button-add h1, .button-view h1{
  font-weight: normal;
  font-size: 1.3vw;
}

.button-add a, .button-view a{
  display: flex;
  align-items: center;
  gap: 1vw;
  color: #ffffff;
}

.button-view img {
  width: 2vw;
}

.button-add img {
  width: 1.6vw;
}