body {
  background-color: var(--white-two);
  font-family: "Poppins", system-ui;
  font-style: normal;
}

:root {
  --white-one: #ffffff;
  --white-two: #f2f2f2;
  --gray-one: #bcbbbb;
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --black: #000;
  --black-two: rgba(1, 18, 38, 50%);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --table-one: #9ab9cd;
  --table-two: #dddddd;
}

.buttons-class {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19vw;
}

.buttons-class button {
  width: 35vw;
  height: 11vh;
  background-color: var(--blue-two);
  border: none;
  color: var(--white);
  border-radius: 0.5vw;
  cursor: pointer;
  font-size: 1.5vw;
  transition: 0.3s ease;
}

.buttons-class button:hover,
.buttons-class button:focus {
  background-color: transparent;
  border: solid 2px var(--blue-two);
  color: var(--blue-two);
}

.buttons-class button:active {
  background-color: transparent;
  border: solid 2px var(--blue-two);
  color: var(--blue-two);
}

.button-add img {
  width: 1.6vw;
}

.registration-table {
  width: 90%;
  margin: 0 auto;
  margin-top: 5vw;
  border-radius: 0.5vw;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  margin-bottom: 5vw;
}

table {
  font-family: "Poppins", system-ui;
  border-collapse: collapse;
  width: 100%;
}

.title-info > th {
  background-color: var(--blue-one);
  color: var(--white);
  font-size: 1.5vw;
  text-align: center;
  padding: 1vw;
}

td,
th {
  border: 1px solid var(--table-one);
  padding: 1vw;
  text-align: left;
}

#title-name {
  width: 65vw;
  text-align: center;
  padding-left: 3vw;
}

tr:nth-child(even) {
  background-color: var(--table-two);
}

tr:nth-child(odd) {
  background-color: var(--white-two);
}

#number {
  text-align: center;
}

.selecione-class {
  display: none !important;
}

#buttonSA1 {
  display: none !important;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
  .buttons-class {
    display: flex !important;
    width: 90vw;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
  }

  .button-add {
    display: none !important;
  }
  #buttonSA1 {
    display: block !important;
  }

  #buttonSA {
    display: none !important;
  }

  .selecione-class {
    display: block !important;
    text-align: center;
  }

  .selecione-class p {
    font-size: 3.5vw;
    font-weight: 500;
    margin-left: 5vw;
    margin-bottom: 4vw;
  }

  .buttons-class button {
    width: 50vw;
    height: 12vw;
    background-color: var(--blue-two);
    border: none;
    color: var(--white);
    border-radius: 2vw;
    cursor: pointer;
    font-size: 4vw;
    transition: 0.3s ease;
  }

  #title-name {
    width: 58vw;
    text-align: center;
    padding-left: 3vw;
    font-size: 4vw;
  }

  .title-info > th {
    background-color: var(--blue-one);
    color: var(--white);
    font-size: 4vw;
    text-align: center;
    padding: 1vw;
  }

  #number {
    text-align: center;
    font-size: 3.5vw;
  }

  td,
  th {
    border: 0.078125vw solid var(--table-one);
    padding: 2vw;
    text-align: left;
    font-size: 3.5vw;
  }

  .popup-content {
    width: 100%;
    font-size: 3.5vw;
    height: 14vw;
    color: #ffffff;
    background-color: var(--blue-one);
    padding: 1vw;
    color: var(--white);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 5%;
    border-radius: 0.5vw 0.5vw 5vw 5vw;
  }

  .popup-planne {
    width: 80vw;
    background-color: var(--white-two);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .button-add,
  .button-view {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-two);
    border-radius: 2vw;
    width: 50vw;
    height: 12vw;
  }

  .button-add h1,
  .button-view h1 {
    font-weight: normal;
    font-size: 3.5vw;
    margin-left: 1vw;
  }

  .button-close button {
    cursor: pointer;
    background-color: transparent;
    border: solid 0.1171875vw var(--blue-two);
    padding: 1vw 3.5vw;
    color: var(--blue-two);
    border-radius: 1vw;
    margin-bottom: 5%;
    transition: 0.3s ease;
    font-size: 4.5vw;
    margin-top: 3vw;
  }
}