.box-info-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 5% auto; /* Centraliza horizontalmente */
  padding: 2vw;
  background-color: #ffffff;
  width: 90vw;
  border-radius: 0.5vw; 
  box-shadow: 0 0.5vw 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.date-badge {
  font-size: 1vw;
  background-color: #07678D;
  width: 15vw;
  padding: 0.5vw;
  color: #ffff;
  font-weight: normal;
  text-align: center;
  border-radius: 0.5vw;
}

.infos-teacher {
  display: flex;
  justify-content: center;
  gap: 2vw; 
  margin-top: 1vw; 
}

.semester-teacher, .students{
  display: flex;
  gap: 0.5vw;
}

.semester-teacher img, .students img{
  width: 1.3vw; 
}

.semester-teacher h1, .students h1{
  font-size: 1.2vw;
  font-weight: normal;
}