body {
  height: 100%;
  background-color: #f2f2f2;
  font-family: "Poppins", system-ui;
  font-style: normal;
}

:root {
  --white-one: #ffffff;
  --white-two: #f2f2f2;
  --gray-one: #bcbbbb;
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --black: #000;
  --black-two: rgba(1, 18, 38, 50%);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.homeTeacher {
  display: flex;
  flex-direction: column;
  gap: 6vw;
}

/* Parte dos cards */
.cards-teacher,
.cards-plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
  .cards-teacher {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 0 auto;
    margin-bottom: 5vw;
  }

  .box-teacher {

    width: 90vw;
  }

  .box-teacher h1 {
    max-width: fit-content;
    width: 100%;
  }

  .box-teacher h1 {
    font-size: 0.8rem;
  }

  .dateBadge {
    font-size: 2.5vw;
    background-color: #07678d;
    background-color: var(--blue-one);
    width: max-content;
    padding: 2vw 1.5vw;
    color: #ffff;
    font-weight: normal;
    text-align: center;
    border-radius: 1vw;
    margin-bottom: 1vw;
  }

  .semesterTeacher h1,
  .student h1 {
    font-size: 3vw;
    margin-top: 1.5vw;
    margin-left: 0.5vw;
  }
}
