.cards-planscourses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  margin: 5% 0 5% 0;
}

.box-teacher-plancourse {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--white);
  max-width: 100%;
  width: 42vw;
  border-radius: 0.5vw;
  padding: 2.4vw;
  gap: 0.5vw;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--black);
  border: 2px solid transparent;
  transition: 0.35s ease-out;
}

.box-teacher-plancourse:hover {
  border: 2px solid #084973;
  transform: scale(1.015);
}

.semesterCourse {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.semesterCourse span {
  font-size: 1.1rem;
}

.categoryBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-one);
  width: 18rem;
  height: 2.5rem;
  color: var(--white);
  border-radius: 0.5vw;
}

.dowload-pdf span {
  font-style: italic;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
  .filterCheck {
    display: none !important;
  }

  .cards-planscourses {
    padding: 0 4vw;
    width: 100%;
    display: flex;
    grid-template-columns: none;
    gap: 2vw;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3vw;
    margin-top: 5vw;
  }

  .box-teacher-plancourse {
    background-color: var(--white);
    width: 100%;
    border-radius: 2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: left;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.35s ease-out;
    margin-top: 2vw;
  }

  .box-teacher-plancourse h1 {
    font-size: 4vw;
  }

  .categoryBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-one);
    width: 50vw;
    height: 2rem;
    color: var(--white);
    border-radius: 2vw;
    font-size: 3vw;
  }

  .semesterCourse span {
    font-size: 4vw;
  }

  .semesterCourse {
    margin-bottom: 2vw;
  }

  .dowload-pdf span {
    font-style: italic;
    font-size: 4vw;
  }
}
