:root {
  --white-one: #ffffff;
  --white-two: #f2f2f2;
  --gray-one: #bcbbbb;
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --black: #000;
  --black-two: rgba(1, 18, 38, 50%);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-plans-available {
  text-align: center;
  margin-top: 5%;
}

.title-plans-available h2 {
  margin-bottom: 3%;
  font-size: 1.8vw;
}

.cards-plans-teaching {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center !important;
  align-items: center;
  gap: 4vw;
}

.card-plan-teaching {
  width: 40vw;
  background-color: var(--white-one);
  padding: 2vw;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border: solid 2px transparent;
  transition: 0.3s ease;
  cursor: pointer;
}

.title-card-plan h1 {
  font-size: 1.5vw;
}

.card-plan-teaching:hover {
  border: solid 2px var(--blue-one);
}

.course-badge span{
  background-color: var(--blue-one);
  color: var(--white-one);
  padding: .5rem 1rem;
  border-radius: .5vw;
}

/* -------------------- Mobile Version -------------------- */
@media only screen and (max-width: 800px) {
  .title-plans-available {
    margin-top: 10%;
  }

  .title-plans-available h2 {
    font-size: 4vw;
  }

  .cards-plans-teaching {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 4vw;
  }

  .card-plan-teaching{
    width: 80vw;
    display: flex;
    gap: 3vw;
  }

  .title-card-plan h1{
    font-size: 3vw;
  }

  .course-badge span{
    font-size: 2.2vw;
    padding: 1vw 5vw;
  }

  .infos-box{
    display: flex;
    gap: 35%;
  }

  .student-class h1{
    font-size: 2vw;
  }
}
