:root {
  --white-one: #ffffff;
  --white-two: #f2f2f2;
  --gray-one: #bcbbbb;
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --black: #000;
  --black-two: rgba(1, 18, 38, 50%);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-plans-available {
  text-align: center;
  margin-top: 5%;
}

.title-plans-available h2 {
  margin-bottom: 3%;
  font-size: 1.8vw;
}

.cards-plans-teaching {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 4vw;
}

.card-plan {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 2rem;
  background-color: var(--white-one);
  border-radius: 0.5vw;
}

.infos-card{
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.infos-card h3 {
  font-size: 1.3vw;
}

.course-tag {
  background-color: var(--blue-one);
  width: 18vw;
  text-align: center;
  color: var(--white-one);
  padding: 0.5rem;
  border-radius: 0.5vw;
}

.info-class {
  display: flex;
}

.teacher, .class{
  display: flex;
  gap: .5vw;
}

/* -------------------- Mobile Version -------------------- */
@media only screen and (max-width: 800px) {
  .title-plans-available{
    margin-top: 10%;
  }

  .title-plans-available h2{
    font-size: 4vw;
  }

  .cards-plans-teaching{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1fr);
    flex-direction: column;
    gap: 1rem;
  }

  .card-plan{
    width: 80vw;
    padding: 1.5rem;
  }

  .infos-card{
    display: flex;
    gap: 4vw;
  }

  .infos-card h3{
    font-size: 4vw;
  }

  .course-tag{
    width: 50vw;
    font-size: 3vw;
    padding: .5rem;
  }
}
