.introProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3vw;
    margin-top: 2vw;
}

.introProfile h1 {
    color: #074973;
    font-size: 2.2vw;
}

.introProfile hr {
    display: block;
    width: 80vw;
    height: 3px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #084973, #2685BF);
}

.cardProfile {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

.container-profile {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #ffff;
    width: 88.5vw;
    height: 31.7vw;
    border-radius: 1.05vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rightSide img {
    height: 34vw;
    max-width: 0 auto;
    margin-top: -2.3vw;
}

.leftSide {
    padding: 1.5vw;
    margin-left: 2vw;
    margin-top: 6vw;
}

.name h3 {
    font-size: 2.5vw;
    color: #000000;
    margin-bottom: 0.5vw;
}

.nif,
.emailPersonal,
.phone {
    display: flex;
    align-items: center;
    margin-bottom: 0.8vw;
}

.nifIcon,
.mailIcon,
.phoneIcon {
    width: 1.5vw;
    opacity: 80%;
    margin-right: 1.2vw;
}

.textProfile {
    color: #000000;
    font-size: 1.2vw;
}

.courses-profile,
.classes-profile {
    margin-top: 1vw;
}

.courses-profile h3,
.classes-profile h3 {
    font-size: 1.3vw;
    color: #000000;
    opacity: 50%;
}

.courses-profile p,
.classes-profile p {
    display: inline-block;
    background-color: #074973;
    border-radius: 1vw;
    padding: 0.2vw;
    width: 10vw;
    font-size: 1vw;
    text-align: center;
    color: #ffffffe0;
    margin-right: 2vw;
    margin-top: 0.3vw;
}

.buttonsProfile {
    display: flex;
    margin-top: 3vw;
    justify-content: center;
    gap: 3vw;
}

.change-button button,
.password-button button {
    background-color: #074973;
    text-align: center;
    border: none;
    margin-top: 2vw;
    border-radius: 0.5vw;
    font-size: 1.3vw;
    font-weight: 300;
    width: 22vw;
    height: 3.5vw;
    font-family: "Poppins", system-ui;
    color: #f2f2f2;
    margin-bottom: 2vw;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}


.buttonsProfile button:hover {
    background-color: #07678d;
}


/* Dialog */
button,
fieldset,
input {
    all: unset;
}

.DialogOverlay {
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
    background-color: white;
    border-radius: 8px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
        hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23vw;
    max-width: 450px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent:focus {
    outline: none;
}

.DialogTitle {
    margin: 0;
    font-weight: bold;
    font-size: 2vw;
    color: #074973;
    margin-bottom: 2vw;
}

/* botão de salvar dentro popUp */
.Button.green {
    background-color: var(--green-4);
    color: var(--green-11);
}

.Button.green:hover {
    background-color: var(--green-5);
}

.Button.green:focus {
    box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 3vw;
    width: 3vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--violet-11);
    position: absolute;
    top: 10px;
    right: 10px;
}

.IconButton:hover {
    background-color: var(--violet-4);
}

.IconButton:focus {
    box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vw;
}

.Label {
    position: absolute;
    font-size: 1.1vw;
    font-weight: bold;
    color: #000000;
    opacity: 50%;
    text-align: right;
}

.Fieldset .Input {
    width: 20vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-bottom: rgba(0, 0, 0, 0.4) solid 2px;
}

.Fieldset input:focus,.Fieldset input:valid {
    border-bottom: #000000 solid 2px;
}


/* .Label {
    position: absolute;
    bottom: 10px;
    font-size: 1.1vw;
    font-weight: bold;
    color: #000000;
    opacity: 50%;
    text-align: right;
}

.Fieldset {
    position: relative;
    margin: 10px 0;
}

.Input {
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    border-bottom: #074973 2px solid;
    border: none;
    outline: 0;

}
 */
/* .Input:focus~label,
.Input:valid~label {
    transform: translateY(-20px);
    outline: 0;
    border-bottom: 2px solid #07678d;
} */

/* .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
} */

/* .Input .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
} */

/* .Input:focus~.underline:before,
.Input:valid~.underline:before {
    transform: scaleX(1);
} */

@keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}