body {
  background-color: #f2f2f2;
  font-family: "Poppins", system-ui;
  font-style: normal;
}

.infos-visu-atividade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discipline {
  display: flex;
  gap: 0.5vw;
  font-size: 1vw;
}

.discipline h1 {
  color: #084973;
}

.discipline h2 {
  font-weight: normal;
}

.button-addActivity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07678d;
  width: 35vw;
  height: 12vh;
  border-radius: 0.5vw;
  cursor: pointer;
}

.button-addActivity a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 2vw;
  color: #ffff;
}

.button-addActivity h1 {
  font-weight: normal;
  font-size: 1.5vw;
}

.button-addActivity img {
  width: 1.6vw;
}

.button-addActivity button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 35vw;
  padding: 0.8vw 1.8vw;
  margin-bottom: 4vw;
  border-radius: 1vw;
  border: none;
  background: var(--blue-two);
  color: #fff;
  font-size: 1.3vw;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-addActivity button:active {
  translate: 0 0.5vw;
  background: var(--blue-one);
}

.available-activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activities-text {
  margin: 5% 0 1.5% 0;
}

.filter-activities-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: #fff;
  border-radius: 0.5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-filter h1 {
  font-size: 1.5vw;
  font-weight: 600;
  padding: 2vw 0;
}

.buttons-filter {
  display: flex;
  gap: 2vw;
  margin-bottom: 3%;
}

.buttons-filter button {
  background-color: transparent;
  border: 2px solid #07678d;
  border-radius: 0.5vw;
  padding: 0.7vw 1.4vw;
  font-size: 1.2vw;
  color: #07678d;
  cursor: pointer;
  transition: 0.3s;
}

.buttons-filter button:active,
.buttons-filter button:focus,
.buttons-filter button:hover {
  background-color: #07678d;
  color: #f2f2f2;
}

.filtered-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.8vw;
  margin-top: 5%;
}

.activity-card {
  background-color: var(--white);
  border-radius: .5vw;
  padding: 2vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 44vw;
  cursor: pointer;
}

.activity-card h2 {
  font-size: 1.8vw;
  margin-bottom: 1vw;
}

.activity-card p {
  font-size: 1.3vw;
}

.dates-card{
  width: 20vw;
  background-color: #084973;
  color: #fff;
  border-radius: .5vw;
}

.items-card-atvd{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5vw;
  padding: .7vw; 
}
