/* ===== Variáveis de Cor ===== */
:root {
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --gray-one: #bbbb;
  --gray-two: #848484bb;
  --white: #ffff;
}

/* ===== Seleção de Cursos ===== */
.select-planne-course,
.select-add-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.label-select,
.select-add-course input {
  align-self: flex-start;
  font-weight: 600;
  color: var(--gray-two);
}

.select-planne-course h2 {
  align-self: flex-start;
  margin-top: 0.5vw;
  margin-bottom: 5%;
  font-size: 0.8vw;
  font-weight: 500;
  color: var(--blue-three);
}

.select-planne-course select {
  width: 100%;
  font-size: 1.2vw;
  background-color: transparent;
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
}

.select-planne-course option:focus {
  background-color: transparent;
}

/* ===== Formulário de Adição de Curso ===== */
.form-addcourse {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 4vw;
  padding: 5vw;
  background-color: var(--white-one);
  border-radius: 0.5vw;
  box-shadow: 0 0.5vw 0.625vw rgba(0, 0, 0, 0.1);
  text-align: center;
}

.select-numbers {
  display: flex;
  gap: 8vw;
}

.select-numbers input {
  width: 21vw !important;
}

.select-add-course input {
  background-color: var(--white);
  border: none;
  border-bottom: 0.15vw solid rgba(0, 0, 0, 0.2) !important;
  width: 80vw;
}

/* ===== Títulos e Horas das Matérias ===== */
.subjects-and-hours h1 {
  font-weight: 600;
  margin-top: 5%;
  color: var(--blue-one);
}

/* ===== Tabelas de Informações ===== */


/* ===== Popup de Edição ===== */
.popup-overlay,
.popup-overlay-delete {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-edit,
.message-delete-course {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
  width: 40vw;
  height: 70vh;
  padding: 2vw 5vw;
  background: #fff;
  border-radius: 0.5vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  overflow: auto;
}

.popup-edit h2 {
  margin: 0 auto;
  color: var(--blue-one);
}

.popup-edit {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
}

.popup-edit select {
  width: 100%;
  font-size: 1.2vw;
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
}

/* ===== Botões de Edição ===== */
.edit-btns {
  display: flex;
  gap: 2vw;
  justify-content: center;
  margin-top: 1.5vw;
}

.edit-btns button {
  border: 2px solid var(--blue-two);
  padding: 0.6vw 1vw;
  border-radius: 0.5vh;
  background: var(--blue-two);
  color: var(--white);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.edit-btns button:hover {
  background: none;
  color: var(--blue-two);
}

/* ===== Inputs e Campos de Seleção ===== */
.inputs-edit {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
}

.inputs-edit select {
  font-size: 1.2vw;
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
}

.inputs-edit label {
  float: left;
  font-size: 1.2vw;
  color: var(--gray-two);
}

.inputs-edit option:hover {
  background: rgba(7, 73, 115, 0.2);
}

.grid-table select {
  border: transparent;
  border-bottom: solid 2px var(--gray-one);
}

.semester-grid h2 {
  text-align: start;
  font-size: 1.2vw;
  color: var(--gray-two);
}

/* ===== Estilos para Inputs de Número ===== */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* ===== PopUp Delete ===== */
.message-delete-course {
  display: flex;
  gap: 0.5vw;
}

.message-delete-course h1 {
  color: var(--blue-one);
  font-size: 3vw;
}

.message-delete-course h2 {
  font-size: 1.6vw;
  margin-bottom: 3%;
}

.message-delete-course h3 {
  font-size: 1.5vw;
  font-weight: 400;
}

/* ===== Botão para Visualizar Turma ===== */
.button-view-class {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 10vh;
  background-color: var(--blue-one);
  margin: 0 auto;
  border-radius: 0.5vw;
  margin-top: 3%;
  cursor: pointer;
}

.button-view-class a {
  color: var(--white);
}