:root {
  --blue-one: #074973;
  --blue-two: #07678D;
  --blue-three: #00a3ff;
  --gray-one: #bbbb;
  --white: #ffff;
}

.introduction-course {
  text-align: center;
  margin-bottom: 5%;
}

.introduction-course h1 {
  font-weight: 600;
  color: var(--blue-one);
}

.introduction-course h2 {
  font-size: 1.5vw;
  font-weight: 400;
}

.select-planne-course,
.select-add-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.label-select {
  align-self: flex-start;
  color: var(--gray-one);
}

.select-planne-course h2 {
  align-self: flex-start;
  font-size: 0.8vw;
  margin-top: 0.5vw;
  font-weight: 500;
  color: var(--blue-three);
  margin-bottom: 5%;
}

.select-planne-course select,
.select-add-course select {
  width: 100%;
  border: none;
  border-bottom: .2vw solid rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
  background-color: transparent;
}

.select-planne-course option:focus {
  background-color: transparent;
}

.form-addcourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vw;
  width: 90vw;
  background-color: var(--white-one);
  margin: 0 auto;
  border-radius: 0.5vw;
  box-shadow: 0 0.5vw 0.625vw rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5vw;
  margin-bottom: 4vw;
}

.select-numbers {
  display: flex;
  gap: 8vw;
}

.subjects-and-hours h1 {
  font-weight: 600;
  color: var(--blue-one);
  margin-top: 5%;
}

.forms-grid-hours{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2vw;
  margin-bottom: 5%;
}

.select-semester-grid, 
.matter-grid-table {
  display: flex;
  flex-direction: column;
  width: 80vw;
  text-align: start;
}

.select-semester-grid select,
.matter-grid-table input{
  width: 100%;
  border: none;
  border-bottom: .2vw solid rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
}

.add-table{
  padding: 2vh 5vw;
  background-color: var(--blue-two);
  border: none;
  border-radius: .5vw;
  color: var(--white);
}

.table-infos-grid {
  width: 100%;
}

.table-infos-grid th {
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.4);
}

.table-infos-grid td {
  background: #fff;
}

.table-infos-grid th,
.table-infos-grid td {
  text-align: center;
  border: none;
  border-bottom: 0.15vw rgba(0, 0, 0, 0.2) solid;
}

.table-infos-grid th:nth-child(1),
.table-infos-grid td:nth-child(1) {
  width: 40%;
  text-align: left;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.proposta,
.final {
  display: flex;
  flex-direction: column;
}

.popup-edit {
  position: relative;
  background: #fff;
  padding: 2vw 5vw;
  border-radius: 0.5vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
  width: 40vw;
  height: 60vh;
  z-index: 1001;
  overflow: auto;
}

.popup-edit h2 {
  margin: 0 auto;
}

.popup-edit .select-pop {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.popup-edit select {
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
  width: 100%;
}

.edit-btns {
  display: flex;
  gap: 2vw;
  justify-content: center;
  margin-top: 1.5vw;
}

.edit-btns button:hover {
  background: none;
  color: #07678d;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.edit-btns button {
  border: #07678d solid 2px;
  padding: 0.6vw 1vw;
  border-radius: 0.5vh;
  background: #07678d;
  color: #fff;
}

.inputt select{
  border: none;
  border-bottom: .2vw solid rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
}

.inputt option:hover{
  background: rgb(7,73,115, .2);
}