/* ===== Variáveis de Cor ===== */
:root {
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --gray-one: #bbbb;
  --gray-two: #848484bb;
  --white: #ffff;
}

/* ===== Seleção de Cursos ===== */
.select-planne-course,
.select-add-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.label-select,
.select-add-course input {
  align-self: flex-start;
  font-weight: 600;
  color: var(--gray-two);
}

.select-planne-course h2 {
  align-self: flex-start;
  margin-top: 0.5vw;
  margin-bottom: 5%;
  font-size: 0.8vw;
  font-weight: 500;
  color: var(--blue-three);
}

.select-planne-course select {
  width: 100%;
  font-size: 1.2vw;
  background-color: transparent;
  border: none;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.2);
}

.select-planne-course option:focus {
  background-color: transparent;
}

/* ===== Formulário de Adição de Curso ===== */
.form-addcourse {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 4vw;
  padding: 5vw;
  background-color: var(--white-one);
  border-radius: 0.5vw;
  box-shadow: 0 0.5vw 0.625vw rgba(0, 0, 0, 0.1);
  text-align: center;
}

.select-numbers {
  display: flex;
  gap: 8vw;
}

.select-numbers input {
  width: 21vw !important;
}

.select-add-course input {
  background-color: var(--white);
  border: none;
  border-bottom: 0.15vw solid rgba(0, 0, 0, 0.2) !important;
  width: 80vw;
}

/* ===== Títulos e Horas das Matérias ===== */
.subjects-and-hours h1 {
  font-weight: 600;
  margin-top: 5%;
  color: var(--blue-one);
}

/* ===== Tabelas de Informações ===== */
.table-infos-grid {
  width: 100%;
  margin-bottom: 5%;
}

.table-infos-grid th {
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.4);
}

.table-infos-grid td {
  background: #fff;
}

.table-infos-grid th,
.table-infos-grid td {
  text-align: center;
  border: none;
}

.table-infos-grid td {
  border-bottom: 0.15vw rgba(0, 0, 0, 0.2) solid;
}

.table-infos-grid th:nth-child(1),
.table-infos-grid td:nth-child(1) {
  width: 40%;
  text-align: left;
}

.table-infos-grid th:nth-child(2),
.table-infos-grid td:nth-child(2) {
  text-align: center;
  padding-right: 1vw;
  padding-left: 47.7%;
}

/* ===== Inputs e Campos de Seleção ===== */
.semester-grid h2 {
  text-align: start;
  font-size: 1.2vw;
  color: var(--gray-two);
}


/* ===== PopUp Delete ===== */
.message-delete-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 55%;
  background: #fff;
  border-radius: 0.5vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  overflow: auto;
  text-align: center;
}

.message-delete-course h1 {
  color: var(--blue-one);
  font-size: 2.5vw;
}

.message-delete-course h2 {
  font-size: 1.6vw;
  margin-bottom: 2%;
}

.message-delete-course h3 {
  font-size: 1.5vw;
  font-weight: 400;
  width: 75%;
}

/* ===== Botão para Visualizar Turma ===== */
.button-view-class {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 15%;
  background-color: var(--blue-one);
  margin: 0 auto;
  border-radius: 0.5vw;
  margin-top: 3%;
  cursor: pointer;
}

.button-view-class a {
  color: var(--white);
}


.buttons-addcourse{
  display: flex;
  justify-content: space-between;
}

.buttons-addcourse button,
.buttons-addcourse a{
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 20rem;
  height: 4rem;
  border: transparent;
  background-color: var(--blue-two);
  color: var(--white);
  border-radius: .3vw;
  font-size: 1rem;
}