.intro,
.AddInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
}

.intro h1 {
  font-weight: 700;
  font-size: 2.2vw;
  color: #074973;
}

.intro h2 {
  font-weight: 500;
  font-size: 1.7vw;
}

.form-course {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 5vw 5vw;
  margin: 3% auto;
  width: 90vw;
  border-radius: 1vw;
  background: #fff;
  box-shadow: 0 0.3vw 2vw rgba(0, 0, 0, 0.1);
}

.form-course .input-fieldd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vw;
}

.form-course label {
  font-size: 1.2vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.2);
}

.Fieldset {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1.5vw 0;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.label-course {
  position: absolute;
  top: 0.8rem;
  left: 0.2rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  pointer-events: none;
}

.Fieldset.filled .label-course,
.input-course:focus+.label-course,
.input-course:not(:placeholder-shown)+.label-course,
.Fieldset select:focus + .label-course,
.Fieldset select:not(:empty) + .label-course {
  transform: translateY(-1.5vw);
  font-size: 1vw;
  opacity: 1;
}

.input-course {
  width: 100%;
  padding: .5vw 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 1vw;
  margin-top: 1vw;
  background: transparent;
}

.input-course:focus {
  outline: none;
  box-shadow: none;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: rgba(0, 0, 0, 0.2) solid 2px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.input-row .input-fieldd {
  width: 25%;
}

.grade-curricular h2 {
  text-align: center;
  font-weight: 650;
  font-size: 1.7vw;
  margin-top: 1.5vw;
}

.semestres {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.semestre {
  display: flex;
  flex-direction: column;
  gap: .5vw;
}

.semestres h3 {
  font-size: 1.35vw;
  font-weight: 600;
}

.add-btn button {
  width: 4vw;
  height: 4vw;
  background: #07678d;
  border: 3px solid #07678d;
  border-radius: .4vw;
  color: #fff;
  transition: ease-in-out .3s;
}

.add-btn button svg {
  display: flex;
  margin: 0 auto;
}

.add-btn button:hover {
  width: 4vw;
  height: 4vw;
  background: #fff;
  border: 3px solid #07678d;
  border-radius: .4vw;
  color: #07678d;
}

.input-row{
  display: flex;
  justify-content: space-between;
}

.actions-btns {
  display: flex;
  gap: 3vw;
  justify-content: center;
  align-items: center;
}

.actions-btns button {
  background: #07678d;
  color: #fff;
  font-size: 1vw;
  padding: 1vw 4vw;
  border: 3px solid #07678d;
  border-radius: .3vw;
  transition: ease-in-out .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.actions-btns button:hover {
  background: #fff;
  color: #07678d;
  font-size: 1vw;
  padding: 1vw 4vw;
  border: 3px solid #07678d;
  border-radius: .3vw;
}

.section-title{
  font-weight: 500 !important;
  text-align: center;
}

.pop-title{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-bottom: 1vw;
}

.pop-title h2{
  font-size: 2vw;
}

.pop-title h3{
  font-size: 1.2vw;
  text-align: center;

}

.subtopic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtopic .Fieldset {
  width: 85%;
}

.subtopic .add-subbtn {
  background: #fff;
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #07678d;
  border-radius: .3vw;
  border: 2px solid #07678d;
  margin-bottom: 1vw;
}

.subtopic .add-subbtn:hover {
  background: #07678d;
  border: 2px solid #07678d;
  color: #fff;
  transition: 0.35s ease-in-out;
}

.multiselects{
  display: flex;
  flex-direction: column;
  gap: 1.6vw;
}

.conhecimento-btn button {
  background: #07678d;
  padding: .8vw 2vw;
  color: #fff;
  border: none;
  border-radius: .3vw;
}

.conhecimento-btn {
  display: flex;
  justify-content: center;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.detail .input-detail, .select-det, .select-course, #select-field{
  width: 100%;
}

.add-detail{
  padding: .8vw 3.5vw;
  border: none;
  border-radius: .3vw;
  background: #07678d;
  color: #fff;
}

.knowledge-table{
  width: 100%;
}

.knowledge-table th{
  font-size: 1vw;
  font-weight: 500;
}

.knowledge-table th, .knowledge-table td{
  border: none;
  border-bottom: solid .15vw rgba(0, 0, 0, 0.2);
}

