.cards-cursosopp {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  width: 80%;
  margin: 0 auto;
}

.card-course {
  background-color: var(--white-one);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5vw;
  transition: 0.3s ease;
  border: solid 2px transparent;
  cursor: pointer;
}

.card-course:hover {
  border: 2px solid var(--blue-one);
}

.number-semesters,
.assigned-classes {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.number-semesters h1,
.assigned-classes h1 {
  font-size: 1.3vw;
  font-weight: normal;
  margin: 0.6vw;
}

.technology-curso {
  font-size: 1vw;
  background-color: #074973;
  width: 20vw;
  padding: 0.5vw;
  color: #ffff;
  font-weight: normal;
  text-align: center;
  border-radius: 0.5vw;
}

.data-curso {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 2rem;
}

.data-curso > p {
  font-style: italic;
  font-size: 1vw;
  font-weight: 400;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {

  .card-course{
    margin-top: 10%;
  }

  .title-cursos-opp{
    margin-top: 3vw;
  }

  .button-add-course{
    display: none;
  }

  .subject {
    font-size: 3.7vw;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .number-semesters,
  .assigned-classes {
    display: flex;
    align-items: center;
    gap: 2vw;
  }

  .number-semesters h1,
  .assigned-classes h1 {
    font-size: 3.2vw;
    font-weight: normal;
  }

  .assigned-classes{
    margin-bottom: 5%;
  }

  .clock-semester,
  .bookmarked {
    width: 3.7vw;
  }

  .technology-curso{
    font-size: 2.8vw;
    width: 35vw;
  }
}
