.table-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  margin: 0 auto;
  margin-bottom: 5vw;
}

.table-homeopp {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: "Poppins", system-ui;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

th,
.td {
  border: 0.1vw solid #ddd;
  padding: 0.8vw;
}

#title-homeopp {
  color: #074973;
  padding: 1.4vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

th {
  background-color: #ffffff;
  font-weight: bold;
}

thead th {
  font-size: 2vw;
  text-align: center;
  border-left: none;
}

.turmas-homeopp {
  background-color: white;
  border-left: none;
  border-right: 0.1vw solid #ddd;
  border-bottom: 0.1vw solid #ddd;
  text-align: center;
  font-size: 1.5vw;
  height: 10vw;
}

.turmas-homeopp1 {
  background-color: white;
  border-left: none;
  border-right: 0.1vw solid #ddd;
  border-bottom: none;
  text-align: center;
  font-size: 1.5vw;
  height: 10vw;
  border-bottom-left-radius: 1vw;
}

.td,
th {
  text-align: center;
}

.td {
  background-color: white;
  width: 25%;
}

.td1 {
  background-color: white;
  width: 25%;
  border: 0.1vw solid #ddd;
  padding: 0.8vw;
  border-bottom: none;
}

.td2 {
  background-color: white;
  width: 25%;
  border: 0.1vw solid #ddd;
  padding: 0.8vw;
  border-bottom: none;
  border-bottom-right-radius: 1vw;
}

#subtitle {
  font-size: 1.8vw;
  font-weight: normal;
  height: 7vw;
}

.button {
  background-color: #074973b2;
  border: none;
  color: white;
  padding: 0.8vw 1.6vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4vw;
  margin: 0.4vw 0.2vw;
  cursor: pointer;
  border-radius: 0.4vw;
}

.button:hover {
  background-color: #165d89b2;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
  .introTeacher h1 {
    font-size: 6vw;
  }

  .introTeacher h2 {
    margin-top: 1vw;
    font-size: 4.5vw;
  }

  .introTeacher hr {
    width: 40vw;
    height: 0.8vw;
    margin-top: 1vw;
  }

  .table-container {
    margin-top: 5vw;
    width: 90%;
  }

  thead th {
    font-size: 3vw;
  }

  .turmas-homeopp {
    padding: 2vw;
    font-size: 3.5vw;
  }

  .turmas-homeopp1 {
    padding: 2vw;
    font-size: 3.5vw;
  }

  #subtitle {
    padding: 2vw;
    font-size: 3.5vw;
  }

  .button {
    font-size: 3vw;
    border-radius: 2vw;
    padding: 2vw;
  }

  #title-homeopp {
    padding: 3vw;
    font-size: 4vw;
  }
}
