.card-plano {
  border-radius: 1vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  padding: 2vw 2vw;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.35s ease-out;
}

.card-plano:hover {
  border: 2px solid var(--blue-one);
}

.infos-course{
  display: flex;
  gap: 2vw;
}

.semester-curso,
.qntd-semester{
  display: flex;
  align-items: center;
  gap: 1vw;
}

.semester-curso h1,
.qntd-semester h1{
  font-size: 1.2vw;
  font-weight: normal;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
  .semester-curso h1, .Class-curso p {
    font-size: 3vw;
    width: 23vw;
}

.introTextStandard h1 {
  font-size: 4.4vw;
  color: var(--blue-one);
}

.introTextStandard h2 {
  font-size: 3vw;
  font-weight: normal;
  margin-bottom: 4%;
}

.Class-curso p {
  margin-left: 2vw;
}

.semester-curso h1 {
  margin-left: 2vw;
  width: 40vw;
}

.chapeu {
  transform: translateX(-0.5vw);
}

.Arrow {
  display: none;
}
}