:root {
  --white-one: #ffffff;
  --white-two: #f2f2f2;
  --gray-one: #bcbbbb;
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --black: #000;
  --black-two: rgba(1, 18, 38, 50%);

  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards-turmaopp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.card-class {
  background-color: var(--white-one);
  padding: 1.5rem;
  border-radius: 0.5vw;
  border: solid 2px transparent;
  width: 100%;
  box-shadow: var(--box-shadow);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  transition: 0.3s ease;
  cursor: pointer;
}

.card-class:hover {
  border: 2px solid var(--blue-one);
}

.info-class {
  display: flex;
  gap: 2vw;
}

.semester-course,
.number-students {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.semester-course h1,
.number-students h1 {
  font-size: 1.3vw;
  font-weight: normal;
}

.card-class h3 {
  font-size: 1.4rem;
}

.highlight {
  color: var(--black);
  font-weight: 700;
  font-size: 1.7vw;
}

.open-class {
  width: 80%;
  margin-left: 5%;
  margin-bottom: 1vw;
}

.open-class p {
  font-size: 1.5vw;
  margin-top: 5%;
}

.technology-turma {
  font-size: 1vw;
  background-color: var(--blue-one);
  width: fit-content;
  padding: 0.9vw 1vw;
  color: #ffff;
  font-weight: normal;
  text-align: center;
  border-radius: 0.5vw;
}

.classOpp {
  margin-bottom: 5vw;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
  .button-add-class {
    display: none;
  }

  .cards-turmaopp {
    grid-template-columns: 1fr;
  }

  .card-class{
    display: flex;
    gap: 4vw;
  }

  .card-class h3{
    font-size: 4vw;
  }

  .info-class{
    display: flex;
    gap: 4vw;
  }

  .semester-course,
  .number-students{
    display: flex;
    align-items: center;
  }

  .semester-course h1,
  .number-students h1 {
    font-size: 3vw;
  }

  .highlight {
    font-size: 4vw;
  }

  .technology-turma{
    padding: .5rem 1rem;
    font-size: 3vw;
    font-weight: bold;
    border-radius: .5vw;
  }

  .open-class p {
    font-size: 4vw;
    margin: 15% 0 5% 0;
  }
}
