.backOne {
    position: fixed;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.logo-password {
    display: flex;
    justify-content: end;
    margin-right: 7%;
}

.logo-password img {
    width: 0 auto;
    height: 6vw;
    margin-top: 2%; 
    cursor: pointer;
}

.returnPage {
    position: absolute;
    width: 0 auto;
    height: 6.5%;
    margin-left: 5%;
    margin-top: 3%;

}