.container {
  position: relative;
  width: 35vw;  
  border: none;
  border-bottom: 0.2vw solid #00000033;
  display: flex;
  align-items: center;
  padding: 0.5vw;
  gap: 0.5vw;
  cursor: pointer;
}

.value {
  /* O item vai crescer para ocupar o espaço disponível no contêiner flexível */
  flex-grow: 1;
  display: flex;
  gap: .6vw;
  flex-wrap: wrap;
}

.clear-btn{
  border: none;
  background: none;
  cursor: pointer;
  color: #696969;
}

.clear-btn svg{
  width: 1.5vw;
}

.caret{
  cursor: pointer;
  color: #696969;
}

.caret:hover{
  color: #000;
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15vw;
  overflow-y: auto;
  border: rgb(0,0,0, .4) .2vw solid;
  border-radius: 0.5vw;
  width: 100%;
  left: 0;
  background: #FFF;
  top: calc(100% + 0.5vw);
  z-index: 100; 
}

.options.show {
  display: block;
}

.option {
  padding: 0.7vw 1vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.option.selected {
  background: rgb(7,73,115, .4);
}

.option.highlighted {
  transition: .25s ease-in-out;
  background: rgb(7,73,115, .2);
}

.option-badge{
  border: none;
  border-radius: .3vw;
  background: rgb(7,73,115, .35);
  padding: .1vw 1vw;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5vw;
}

.option-badge svg{
  width: 1.3vw;
  height: 1.3vw;
  vertical-align: middle;
}

span .remove-btn{
  font-size: 1.6vw;
  font-weight: 300;
}

.options::-webkit-scrollbar {
  width: .65vw; 
}

.options::-webkit-scrollbar-track {
  background: #dcdcdc;
  border: .7px #b1b1b1;
}

.options::-webkit-scrollbar-thumb {
  background-color: #07678D;
  border-radius: 20px;
  border: .5px solid #075a7b;
}