:root {
    --font: font-family: "Poppins", system-ui;
    --blue1: #074973;
    --speed: 500ms;
}

.navbarOne {
    height: 6vw;
    background-color: #F2F2F2;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;

}

link:active {
    color: #074973;
}
.left-side, .navbar-nav, .profile {
    display: flex;
}
/* estilizando imagem logo */

.nav-logo img {
    width: 0 auto;
    height: 5vw;
    margin-left: 2vw;
}

/* estilizando lista */
.navbar-nav a{
    font-family: var(--font);
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    margin-top: 2vw;
}

.dropdown-menu {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #fff;
    padding: 10px 20px;
    width: 200px;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown-menu .dropdownItem:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    margin: 0;
}

.dropdownItem {
    display: flex;
    align-items: center;  
    padding: 1vw;  
}

.dropdownItem .icon:hover, .dropdownItem .menu-a:hover{
    color: #074973; /* cor quando o hover estiver ativo */
    cursor: pointer;
}

/* .dropdownItem  {
    color: #074973;
    transform: scale(1.05); /* aumenta o ícone um pouco ao passar o mouse 
    transition: transform 0.3s ease-in-out, color 0.2s ease-in-out; /* efeito de transição suave 
} */

.dropdownItem .icon {
    max-width: 2vw;
    margin-right: 0.5vw;
    margin-top: 0.5vw;
    color: #7F7F7F;
    align-self: center;
    transition: var(--speed);
}


.dropdownItem .menu-a {
    font-size: 1.1vw;
    max-width: 15vw;
    color: #7F7F7F;
    align-self: center;
    margin: 0;
    transition: var(--speed);
}


/* ícones lateral direita */

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 0 auto;
    height: 2vw;
    margin-left: 3vw;
}

.darkMode img {
    margin-right: 3vw;
    width: 0 auto;
    height: 1.8vw;
} /* HAHAHAHAHAHAHAHHA */
