.table-infos-grid {
  width: 100%;
  margin-bottom: 5%;
}

.table-infos-grid th {
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.4);
}

.table-infos-grid td {
  background: #fff;
}

.table-infos-grid th,
.table-infos-grid td {
  text-align: center;
  border: none;
}

.table-infos-grid td {
  border-bottom: 0.15vw rgba(0, 0, 0, 0.2) solid;
}

.table-infos-grid th:nth-child(1),
.table-infos-grid td:nth-child(1) {
  width: 40%;
  text-align: left;
}

.table-infos-grid th:nth-child(2),
.table-infos-grid td:nth-child(2) {
  text-align: center;
  padding-right: 1vw;
  padding-left: 47.7%;
}
