:root {
  --white-one: #ffffff;
  --white-two: #f2f2f2;
  --gray-one: #bcbbbb;
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --black: #000;
  --black-two: rgba(1, 18, 38, 50%);
  
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--white-two);
  font-family: "Poppins", system-ui;
  font-style: normal;
}

.back {
  position: fixed;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.computer {
  position: absolute;
  width: auto;
  height: 35vw;
  top: 8vw;
  left: 8vw;
}

.logo img {
  width: auto;
  height: 6vw;
}

.logo {
  margin-right: 7%;
  margin-top: 2%;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8%;
}

.forms {
  margin-top: 5%;
}

.forms h2 {
  font-size: 2.8vw;
  font-weight: 800;
  color: var(--blue-one);
  text-align: left;
}

.forms p {
  margin-top: 0;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
  opacity: 60%;
  text-align: left;
}


.inputs {
  display: flex;
  flex-direction: column;
}

.input {
  height: 4vw;
  padding: 2vw;
  margin-bottom: 3%;
  background-color: var(--white-two);
  border: 1px solid var(--black-two);
  border-radius: 0.5vw;
}

.input::placeholder {
  font-family: "Poppins", system-ui;
}

.inputPassword {
  display: flex;
  justify-content: space-between;
  padding: 1.2vw 2vw;
  border: 1px solid var(--black-two);
  border-radius: 0.5vw;
}

.inputPassword input {
  background-color: transparent;
  outline: none;
  border: none;
}

.inputPassword button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--black);
  opacity: 50%;
}

textarea:focus,
input:focus,
select:focus {
  border: 0.2vw solid var(--black-two);
  outline: none;
}

.password a {
  font-size: 1vw;
  margin-left: 28vw;
  color: var(--blue-one);
  text-decoration: none;
}

.password a:hover {
  color: var(--black);
}

.password a:active {
  color: var(--blue-one);
}

.button-login button {
  width: 12vw;
  height: 3.5vw;
  margin-top: 2vw;
  padding: 0;
  border: 2px solid transparent;
  border-radius: 0.5vw;
  font-size: 1.3vw;
  font-weight: 300;
  font-family: "Poppins", system-ui;
  background-color: var(--blue-two);
  color: var(--white-two);
  cursor: pointer;
  transition: 0.3s ease;
}

.button-login button:hover {
  background-color: transparent;
  color: var(--blue-two);
  border: 2px solid var(--blue-two);
}

.input::-webkit-inner-spin-button,
.verification::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-mobile {
  display: none !important;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
  .text {
    display: none !important;
  }
  .logo {
    display: none !important;
  }
  .images {
    display: none;
  }

  .right-side {
    display: none;
  }

  .login-mobile {
    display: block !important;
  }

  .login-img {
    position: absolute;
  }

  #forma {
    width: 102vw;
  }

  .login-logo {
    position: absolute;
  }

  .login-logo > img {
    width: 16vw;
    margin-left: 80vw;
    margin-top: 8vw;
  }

  .login-info {
    position: absolute;
    color: var(--white-one);
    margin-top: 28vw;
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin-left: 12vw;
  }

  .login-info h1 {
    font-size: 6vw;
  }

  .login-info p {
    font-size: 4vw;
    width: 100%;
    margin: 0;
  }

  .bottom {
    position: absolute;
    margin-top: 100vw;
    margin-left: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-login {
    background-color: var(--white-two);
    margin-bottom: 4vw;
    padding: 4vw;
    width: 80vw;
    height: 12vw;
    border: var(--black-two) solid 0.2vw;
    border-radius: 2vw;
    font-size: 3.5vw;
  }

  .inputLogin {
    display: flex;
    width: 80vw;
    height: 12vw;
    justify-content: space-between;
    border: var(--black-two) solid 0.2vw;
    padding: 2.15vw;
    border-radius: 2vw;
    font-size: 3.5vw;
    color: var(--black);
    margin-bottom: 1vw;
  }

  .inputLogin input {
    background-color: transparent;
    outline: none;
    border: none !important;
    font-size: 3.5vw;
    margin-left: 1.7vw;
    color: var(--black);
  }

  .inputLogin button {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: var(--black);
    opacity: 50%;
  }

  label .input-password::placeholder,
  .input-login::placeholder {
    color: var(--black);
    opacity: 50%;
    font-size: 3.5vw;
  }

  .input-login:focus,
  .inputLogin input:focus {
    border: var(--black-two) solid 0.2vw; 
    outline: none;
    background-color: var(--white-two);
  }

  .password a {
    text-decoration: none;
    font-size: 3vw;
    margin-left: 27vw;
    color: var(--blue-one);
  }

  .button-login button {
    background-color: var(--blue-two);
    border: none;
    margin-top: 5vw;
    border-radius: 2vw;
    font-size: 4.5vw;
    font-weight: 300;
    width: 30vw;
    height: 10vw;
    font-family: "Poppins", system-ui;
    color: var(--white-two);
    cursor: pointer;
  }

  .button-login {
    text-align: center;
    margin-bottom: 10vw;
  }
}
