body {
  background-color: #f2f2f2;
  font-family: "Poppins", system-ui;
  font-style: normal;
}

.back {
  position: fixed;
  width: 60%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para preencher o container */
}

.computer {
  position: absolute;
  width: 0 auto;
  height: 35vw;
  top: 8vw;
  left: 8vw;
}

.logo img {
  width: 0 auto;
  height: 6vw;
}

.logo {
  margin-right: 7%;
  margin-top: 2%;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8%;
}

.forms {
  margin-top: 5%;
}

.forms h2 {
  font-weight: 800;
  color: #074973;
  font-size: 2.8vw;
  text-align: left;
}

.forms p {
  opacity: 60%;
  margin-bottom: 5%;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: rgba(217, 217, 217, 0);
  margin-bottom: 3%;
  padding: 2vw;
  width: 36vw;
  height: 4vw;
  border: rgba(1, 18, 38, 50%) solid 1.3px;
  border-radius: 0.5vw;
}

.input::placeholder {
  font-family: "Poppins", system-ui;
}

.inputPassword {
  display: flex;
  justify-content: space-between;
  border: rgba(1, 18, 38, 50%) solid 1.3px;
  padding: 1.2vw 2vw;
  border-radius: 0.5vw;
}

.inputPassword input {
  background-color: transparent;
  outline: none;
  border: 0;
}

.inputPassword button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #000;
  opacity: 50%;
}

.input-password:focus {
  border: none;
}

textarea:focus,
input:focus,
select:focus {
  border: rgba(1, 18, 38, 80%) solid 1.3px;
  outline: none;
}

.password a {
  text-decoration: none;
  font-size: 1vw;
  margin-left: 18vw;
  color: #074973;
}

.password a:hover {
  color: black;
}

.password a:active {
  color: #074973;
}

.button-login button {
  background-color: #074973;
  border: none;
  margin-top: 2vw;
  border-radius: 0.5vw;
  font-size: 1.3vw;
  font-weight: 300;
  width: 12vw;
  height: 3.5vw;
  font-family: "Poppins", system-ui;
  color: #f2f2f2;
  cursor: pointer;
}

.button-login button:hover {
  background-color: #07678d;
}

.input::-webkit-inner-spin-button,
.verification::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
