body {
  background-color: #f2f2f2;
  font-family: "Poppins", system-ui;
  font-style: normal;
}

.Reset-Info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 18%;
}

.title {
  margin-top: 12%;
}

.title h2 {
  font-weight: 800;
  color: #074973;
  font-size: 2.8vw;
  text-align: start;
}

.title p {
  opacity: 60%;
  font-size: 1.2vw;
  text-align: justify;
  width: 35vw;
  margin-bottom: 5%;
}

.input-reset {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.reset {
  background-color: rgba(217, 217, 217, 0%);
  margin-bottom: 3%;
  padding: 2vw;
  width: 35vw;
  height: 4vw;
  border: rgba(1, 18, 38, 50%) solid 1.3px;
  border-radius: 0.5vw;
}

.reset::placeholder {
  font-family: "Poppins", system-ui;
  font-size: 1.4vw;
}

textarea:focus,
input:focus,
select:focus {
  border: rgba(1, 18, 38, 80%) solid 1.3px;
  outline: none;
}

.button-password button {
  background-color: #074973;
  border: none;
  margin-top: 2vw;
  border-radius: 0.5vw;
  font-size: 1.3vw;
  font-weight: 300;
  width: 20vw;
  height: 3.5vw;
  font-family: "Poppins", system-ui;
  color: #f2f2f2;
}

.button-password button:hover {
  background-color: #07678d;
}

.PasswordResetMobile {
  display: none !important;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
    .background {
    display: none !important;
  }

  .Reset-Info {
    display: none !important;
  }

  .PasswordResetMobile {
    display: block !important;
  }

  .reset-img {
    margin-top: -13vw;
    position: absolute  ;
  }

  #formaBottom {
    width: 99.1vw;
  }

  .redefinacao-logo > img {
    width: 18vw;
    margin-left: 80vw;
    margin-top: 7vw;
  }

  .login-redefinicao {
    position: absolute;
    color: white;
    margin-top: 10vw;
    width: 99.1vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }

  .reset {
    background-color: rgba(217, 217, 217, 0%);
    padding: 2vw;
    width: 80vw;
    height: 12vw;
    border: rgb(255, 255, 255) solid 0.2vw;
    border-radius: 2vw;
    margin: 0 auto;
    color: white;
  }

  .reset::placeholder {
    font-size: 3.5vw;
    color: white;
    margin: 0 auto;
  }

  .reset::value {
    font-size: 2vw;
  }

  form {
    margin-top: 5vw;
  }

  .verification1 {
    background-color: rgba(217, 217, 217, 0%);
    padding: 1vw;
    width: 80vw;
    height: 20vw;
    border: rgb(255, 255, 255) solid 0.4vw;
    border-radius: 2vw;
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: 0.8vw;
    font-family: "Poppins", system-ui;
    text-align: center;
    color: white;
  }

  .verification1 {
    font-size: 8vw !important;
  }

  textarea:focus,
  input:focus,
  select:focus {
    border: rgb(255, 255, 255) solid 0.4vw;
    outline: none;
    font-size: 3vw;
  }

  .input-verification {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .info-redefinicao {
    width: 50%;
    display: flex;
    margin: 0 auto;
    margin-top: 2vw;
  }

  .info-redefinicao p {
    text-align: center;
    font-size: 3.5vw;
  }

  .button-password {
    display: flex;
    margin: 0 auto;
  }

  .button-password button {
    background-color: #fff;
    border: none;
    border-radius: 1vw;
    font-size: 4.5vw;
    font-weight: 400;
    width: 30vw;
    height: 10vw;
    font-family: "Poppins", system-ui;
    color: #074973;
  }

  .button-password button:hover {
    background-color: #ffffff;
  }

  .info-login-mobile {
    margin-top: 10vw;
    width: 70%;
    margin: auto;
    margin-top: 5vw;
  }

  .info-login-mobile h1 {
    font-size: 6vw;
    color: #074973;
  }

  .info-login-mobile p {
    font-size: 3.5vw;
    margin-top: 2vw;
  }
}
