:root {
  /* Colors */
  --white-one: #ffffff;
  --white-two: #f2f2f2;
  --gray-one: #bcbbbb;
  --blue-one: #074973;
  --blue-two: #07678d;
  --blue-three: #00a3ff;
  --black: #000;
  --black-two: rgba(1, 18, 38, 50%);

  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--white-two);
  font-family: "Poppins", system-ui;
  font-style: normal;
}

.reset-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 18%;
}

.title {
  margin-top: 12%;
}

.title h2 {
  font-size: 2vw;
  font-weight: 800;
  color: var(--blue-one);
  margin-left: 11%;
}

.title p {
  font-size: 1.2vw;
  opacity: 60%;
  text-align: justify;
  margin-bottom: 5%;
}

.input-reset {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.reset {
  width: 35vw;
  height: 4vw;
  padding: 2vw;
  margin-bottom: 3%;
  background-color: var(--white-two);
  border: 1.3px solid var(--black-two);
  border-radius: 0.5vw;
}

.reset::placeholder {
  font-family: "Poppins", system-ui;
  font-size: 1vw;
}

textarea:focus,
input:focus,
select:focus {
  border: 1.3px solid var(--black-two);
  outline: none;
}

.button-password button {
  width: 20vw;
  height: 3.5vw;
  margin-top: 2vw;
  border: 2px solid transparent;
  border-radius: 0.5vw;
  font-size: 1.1vw;
  font-weight: 300;
  font-family: "Poppins", system-ui;
  background-color: var(--blue-two);
  color: var(--white-two);
  transition: 0.3s ease;
}

.button-password button:hover {
  background-color: transparent;
  color: var(--blue-two);
  border: 2px solid var(--blue-two);
}

.PasswordResetMobile {
  display: none !important;
}

/* --------------------Versão Mobile-------------------- */

@media only screen and (max-width: 800px) {
  .background {
    display: none !important;
  }

  .reset-info {
    display: none !important;
  }

  .PasswordResetMobile {
    display: block !important;
  }

  .reset-img {
    margin-top: -13vw;
    position: absolute;
  }

  #formaBottom {
    width: 102vw;
  }

  .redefinacao-logo > img {
    width: 16vw;
    margin-left: 80vw;
    margin-top: 7vw;
  }

  .login-redefinicao {
    position: absolute;
    color: white;
    margin-top: 30vw;
    width: 99.1vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }

  .reset {
    background-color: rgba(217, 217, 217, 0%);
    padding: 2vw;
    width: 80vw;
    height: 12vw;
    border: rgb(255, 255, 255) solid 0.2vw;
    border-radius: 2vw;
    margin: 0 auto;
    color: white;
  }

  .reset::placeholder {
    font-size: 3.5vw;
    color: white;
    margin: 0 auto;
  }

  .reset::value {
    font-size: 2vw;
  }

  form {
    margin-top: 5vw;
  }

  .verification1 {
    background-color: rgba(217, 217, 217, 0%);
    padding: 1vw;
    width: 80vw;
    height: 20vw;
    border: rgb(255, 255, 255) solid 0.4vw;
    border-radius: 2vw;
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: 0.8vw;
    font-family: "Poppins", system-ui;
    text-align: center;
    color: white;
  }

  .verification1 {
    font-size: 8vw !important;
  }

  textarea:focus,
  input:focus,
  select:focus {
    border: rgb(255, 255, 255) solid 0.4vw;
    outline: none;
    font-size: 3vw;
  }

  .input-verification {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .info-redefinicao {
    width: 50%;
    display: flex;
    margin: 0 auto;
    margin-top: 2vw;
  }

  .info-redefinicao p {
    text-align: center;
    font-size: 3.5vw;
  }

  .button-password {
    display: flex;
    margin: 0 auto;
  }

  .button-password button {
    background-color: #fff;
    border: none;
    border-radius: 2vw;
    font-size: 4.5vw;
    font-weight: 400;
    width: 30vw;
    height: 10vw;
    font-family: "Poppins", system-ui;
    color: #074973;
  }

  .button-password button:hover {
    background-color: #ffffff;
  }

  .info-login-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 4vw;
  }

  .info-login-mobile h1 {
    font-size: 6.5vw;
    color: #074973;
  }

  .info-login-mobile p {
    font-size: 4vw;
    margin-top: 3%;
    width: 90%;
    text-align: left;
    margin-bottom: 10%;
  }
}
