body {
  background-color: #f2f2f2;
  font-family: "Poppins", system-ui;
  font-style: normal;
}

.Reset-Info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 18%;
}

.title {
  margin-top: 12%;
}

.title h2 {
  font-weight: 800;
  color: #074973;
  font-size: 2.8vw;
}

.title p {
  opacity: 60%;
  margin-bottom: 5%;
}

.input-reset {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.reset {
  background-color: rgba(217, 217, 217, 0%);
  margin-bottom: 3%;
  padding: 2vw;
  width: 35vw;
  height: 4vw;
  border: rgba(1, 18, 38, 50%) solid 1.3px;
  border-radius: 0.5vw;
}

.reset::placeholder {
  font-family: "Poppins", system-ui;
}

textarea:focus,
input:focus,
select:focus {
  border: rgba(1, 18, 38, 80%) solid 1.3px;
  outline: none;
}

.button-password button {
  background-color: #074973;
  border: none;
  margin-top: 2vw;
  border-radius: 0.5vw;
  font-size: 1.3vw;
  font-weight: 300;
  width: 20vw;
  height: 3.5vw;
  font-family: "Poppins", system-ui;
  color: #f2f2f2;
}

.button-password button:hover {
  background-color: #07678d;
}
