.title-verification {
  margin-top: 5%;
}

.title-verification h2 {
  font-weight: 800;
  color: #074973;
  font-size: 2.6vw;
}

.title-verification p {
  opacity: 60%;
  margin-bottom: 3%;
  font-size: 1.3vw;
  max-width: 50vw;
}

.input-verification {
  display: flex;
  flex-direction: column;
}

.verification {
  background-color: rgba(217, 217, 217, 0%);
  padding: 1vw;
  width: 18vw;
  height: 5vw;
  border: rgb(7, 73, 115) solid 2px;
  border-radius: 0.5vw;
  font-size: 3.2vw;
  font-weight: bold;
  letter-spacing: 0.8vw;
  font-family: "Poppins", system-ui;
}

.verification::placeholder {
  font-size: 2vw;
  letter-spacing: none;
}

/* Retirando as setas que aparecem com o type=number do input */
.verification::-webkit-inner-spin-button,
.verification::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-verification:focus,
select:focus,
.verification:focus {
  border: rgb(38, 133, 195) solid 2px;
  outline: none;
}

.confirm {
  margin: 3% 0 3% 0;
  text-align: center;
}

.confirmEmail {
  opacity: 50%;
  font-size: 1vw;
}

.link-return {
  color: black;
  text-decoration: none;
  opacity: 80%;
  font-size: 1vw;
}

.link-return:hover {
  color: rgba(7, 73, 115, 100%);
}

.button-verification button {
  background-color: #074973;
  border: none;
  margin-top: 1.5vw;
  border-radius: 0.5vw;
  font-size: 1.3vw;
  font-weight: 300;
  width: 20vw;
  height: 3.5vw;
  font-family: "Poppins", system-ui;
  color: #f2f2f2;
}

.button-verification button:hover {
  background-color: #07678d;
}

.inputReset {
  display: flex;
  justify-content: space-between;
  border: rgba(1, 18, 38, 50%) solid 1.3px;
  padding: 1.2vw 2vw;
  border-radius: 0.5vw;
  width: 36vw;
  height: 4vw;
  cursor: pointer;
}

.inputReset input {
  background-color: transparent;
  outline: none;
  border: 0;
}

.inputReset button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #000;
  opacity: 50%;
}

.input-password:focus {
  border: none;
}
